@import "bootstrap";

/*カレンダー*/
.calendar-grid {
  /*background-color: #ddd;  グリッド全体の背景色 */
}

.calendar-grid.box {
  border: 2px solid #000000;
}


.calendar-grid.header {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr)) 72px; /* 7列（横並び） */
  font-weight: bold;
  text-align: center;
}

.calendar-grid.body {
}

.week-row {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr)) 72px; /* 7日を横並び */
  background-color: #00bfff; /* 週の背景色 */
  border-top: 2px solid #696969;
}

.week-row-2 {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr)) 72px; /* 7日を横並び */
  
  border-top: 2px solid #696969;
}


.week-link {
  /*display: block;      リンクを1行全体にする 
  margin-bottom: 2px;   週ごとに余白 
  text-decoration: none;*/
 
  display: contents;
  color: inherit;
}

.week-link:hover .date {
  /*background-color: #eef6ff;*/
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.week-link:active {
  background-color: #f0f8ff; /* タップ時の反応 */
}


.date {
  /*background-color: #fff;  各日付セルの背景色 */
  text-align: left;
  height: 100px; /* セルの高さ */
  vertical-align: top; /* 上部に揃える */
  padding: 10px;
  /* border: 1px solid #ddd; セルの境界線 */
  border-right: 1px solid #696969;
  box-sizing: border-box;
  position: relative;
}

/* 奇数月は白にする */
.date.odd-month {
  background-color: #fff;
}

/* 必要なら偶数用クラス（デフォルトと同じ） */
.date.even-month {
  background-color: #ddd;
}

/* 各セルの間にだけ縦線を表示（重複しない） */
.date + .date {
  
}

/* 今日の日付 */
.date.today {
  background-color: #ffeb3b; /* 黄色 */
  font-weight: 700;
  border: 2px solid #fbc02d;
}

.date:last-child {
  
}

.note-head { 
  text-align: left; 
  font-weight: 600;
}

.note { 
  text-align: left; 
  color: #555; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}


/* 土曜日 */
.date:nth-child(6) {
  color: blue;
}

/* 日曜日 */
.date:nth-child(7) {
  color: red;
}

.week-day {
  border-right: 1px solid #696969;
  padding-top: 2px;
  padding-bottom: 2px;
}
